<div class="container">
  <div class="signal-track">
    <mat-form-field class="example-full-width">
      <input id="trackOrSignalInput" matInput placeholder="Signal or track address">
    </mat-form-field>
    <button mat-raised-button color="primary" id="straight-green">Straight/Green</button>
    <button mat-raised-button id="turn-red">Turn/Red</button>
  </div>
  <div class="conduct-container">
    <div class="conduct-box">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>CONDUCT</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input id="loko-address" class="loko-address" matInput placeholder="Loko address">
          </mat-form-field>
          <button mat-raised-button id="set-loko-address" class="set-loko-address">Set Train Address</button>
          <mat-divider [inset]="true"></mat-divider>
          <p>Choo Choo: <button mat-raised-button id="loko-sound-on" class="loko-sound-on">Sound On</button>
            <button mat-raised-button id="loko-sound-off" class="loko-sound-off">Sound Off</button> </p>
          <p>Bell: <button mat-raised-button id="bell-sound-on" class="bell-sound-on">Sound On</button>
            <button mat-raised-button id="bell-sound-off" class="bell-sound-off">Sound Off</button> </p>
          <p>Horn 1: <button mat-raised-button id="horn1-sound-on" class="horn1-sound-on">Sound On</button>
            <button mat-raised-button id="horn1-sound-off" class="horn1-sound-off">Sound Off</button> </p>
          <p>Horn 2: <button mat-raised-button id="horn2-sound-on" class="horn2-sound-on">Sound On</button>
            <button mat-raised-button id="horn2-sound-off" class="horn2-sound-off">Sound Off</button> </p>
          <p>Lights: <button mat-raised-button id="lights-sound-on" class="lights-sound-on">Sound On</button>
            <button mat-raised-button id="lights-sound-off" class="lights-sound-off">Sound Off</button> </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="map-box">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>CONDUCT</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input id="loko-address1" class="loko-address" matInput placeholder="Loko address">
              </mat-form-field>
              <button mat-raised-button id="set-loko-address1" class="set-loko-address">Set Train Address</button>
              <mat-divider [inset]="true"></mat-divider>
              <p>Choo Choo: <button mat-raised-button id="loko-sound-on1" class="loko-sound-on">Sound On</button>
                <button mat-raised-button id="loko-sound-off1" class="loko-sound-off">Sound Off</button> </p>
              <p>Bell: <button mat-raised-button id="bell-sound-on1" class="bell-sound-on">Sound On</button>
                <button mat-raised-button id="bell-sound-off1" class="bell-sound-off">Sound Off</button> </p>
              <p>Horn 1: <button mat-raised-button id="horn1-sound-on1" class="horn1-sound-on">Sound On</button>
                <button mat-raised-button id="horn1-sound-off1" class="horn1-sound-off">Sound Off</button> </p>
              <p>Horn 2: <button mat-raised-button id="horn2-sound-on1" class="horn2-sound-on">Sound On</button>
                <button mat-raised-button id="horn2-sound-off1" class="horn2-sound-off">Sound Off</button> </p>
              <p>Lights: <button mat-raised-button id="lights-sound-on1" class="lights-sound-on">Sound On</button>
                <button mat-raised-button id="lights-sound-off1" class="lights-sound-off">Sound Off</button> </p>
            </mat-card-content>
          </mat-card>
    </div>
  </div>
</div>
