@import "../../styles.scss";

.container {
  height: 100%;
  width: 100%;
}

.signal-track {
  height: 15%;
  flex: 1;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
}

.track-card {
    flex: 1;
    display: flex;
}

::ng-deep .mat-form-field {
  flex: 3 !important;
  margin-left: 2%;
  margin-top: 1%;
}

#straight-green {
    flex: 0.3;
    height: 50%;
    margin-right: 5px;
    margin-top: 2%;
    margin-left: 5px;
}

#turn-red {
    flex: 0.3;
    height: 50%;
    margin-top: 2%;
    margin-right: 2%;
    color: white;
}

.conduct-container {
    margin-top: 1%;
    display: flex;
    height: 40%;
    margin-left: 2%;
}

.conduct-box {
    flex: 1;
    margin-right: 1%;
}

.map-box {
    flex: 1;
    margin-right: 2%;
    height: 486px;
    overflow-y: hidden;

}

#speed-slider {
    width: 50%;
}

.button-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    justify-content: space-around;
}

.success {
    background-color: #5cb85c;
}

.loko-sound-on,
.bell-sound-on,
.horn1-sound-on,
.horn2-sound-on,
.lights-on {
    flex: 1;
    margin-right: 2%;
}

.loko-sound-off,
.bell-sound-off,
.horn1-sound-off,
.horn2-sound-off,
.lights-off {
    flex: 1;
}

.set-loko-address {
    margin-left: 2%;
}

#pdf-box {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
