@import "../../styles.scss";

.container {
  height: 100%;
  width: 100%;
}

.signal-track {
  height: 15%;
  flex: 1;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
}

.track-card {
    flex: 1;
    display: flex;
}

::ng-deep .mat-form-field {
  flex: 3 !important;
  margin-left: 2%;
  margin-top: 1%;
}

#straight-green {
    flex: 0.3;
    height: 50%;
    margin-right: 5px;
    margin-top: 2%;
    margin-left: 5px;
}

#turn-red {
    flex: 0.3;
    height: 50%;
    margin-top: 2%;
    margin-right: 2%;
}

.conduct-container {
    margin-top: 1%;
    display: flex;
    height: 40%;
    margin-left: 2%;
}

.conduct-box {
    flex: 1;
    margin-right: 1%;
}

.map-box {
    flex: 1;
    margin-right: 2%;
    background-color: red;
}

#speed-slider {
    width: 50%;
}

.button-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.success {
    background-color: #5cb85c;
}

