#headline {
    display: flex;
    margin: 0 auto 0 auto;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}

#close_button {
    float: right;
    margin-bottom: 0;

}

.divider {
    width: 100%;
    margin-bottom: 2%;
}
.container {
    display: flex;
    margin: 0 auto 0 auto;
    justify-content: center;
}

.form-container > * {
    width: 100%;

}

#submitNewUserButton {
    width: 20%;
    float: right;
}

#clear_button {
    width: 20%;
    float: right;
    margin-right: 2%;
}