<button id="close_button" mat-icon-button (click)="onClose()" tabindex="-1"><mat-icon class="small">clear</mat-icon></button>
<div id="headline">
  <h3>{{userService.addUserForm.controls['id'].value ? "Edit an existing user":"Register a new user"}}</h3>
  <mat-divider class="divider"></mat-divider>
</div>
<div class="container">
  <form novalidate [formGroup]="userService.addUserForm" (ngSubmit)="onSubmit(userService.addUserForm)">
    <div class="form-container">
        <input type="hidden" formControlName="id">
      <mat-form-field>
        <input type="text" id="createUserFirstName" formControlName="firstName" matInput placeholder="First name*">
      </mat-form-field>
      <div *ngIf="userService.addUserForm.controls['firstName'].touched && userService.addUserForm.controls['firstName'].errors?.required">First name is required</div>

      <mat-form-field>
        <input type="text" id="createUserLastName" formControlName="lastName" matInput placeholder="Last name*">
      </mat-form-field>
      <div *ngIf="userService.addUserForm.controls['lastName'].touched && userService.addUserForm.controls['lastName'].errors?.required">Last name is required</div>

      <mat-form-field>
        <input type="text" id="createUserEmail" formControlName="email" matInput placeholder="Email*">
      </mat-form-field>
      <div *ngIf="userService.addUserForm.controls['email'].touched && userService.addUserForm.controls['email'].errors?.required">Email is required</div>
      
      <button type="submit" id="submitNewUserButton" [disabled]="!userService.addUserForm.valid" mat-raised-button>Submit</button>
      <button mat-raised-button color="warn" id=clear_button (click)="onClear()">Clear</button>

    </div>
  </form>
</div>
