<div>
  <div id="headline">
    <h3 id="title">Trains</h3>
    <mat-divider class="divider"></mat-divider>
  </div>
  <div class="card-container">
    <div *ngFor="let train of trains" class="train-list">
      <mat-card class="train-card">
        <mat-card-header>
          <mat-card-title class="train-title">{{train.name}}</mat-card-title>
          <div class="fill"></div>
          <button mat-icon-button (click)="onEdit(train)">
              <mat-icon>launch</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(train.name)">
              <mat-icon>delete_outline</mat-icon></button>
        </mat-card-header>
        <img mat-card-image src="/assets/img/{{train.photoName}}">
        <mat-card-content>
          <p>Loco Address: {{train.locoAddress}}</p>
          <p>Length: {{train.length}}</p>
          <p>Carts: {{train.carts}}</p>
          <mat-divider></mat-divider>
          <p id="description">{{train.description}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
