@import "../../styles.scss";

.sidenav-container {
  height: 100%;
  background: $kea-white;
}

.sidenav {
  width: 200px;
}
.mat-toolbar {
  background: $kea-blue;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a {
  text-decoration: none;
}

.material-icons {
  color: $kea-white;
}

.app-title {
  text-transform: uppercase;
  padding-left: 8px;
  font-size: 1.2em;
  color: $kea-white;
}

.nav-item {
  padding-right: 2em;
  font-size: 0.75em;
  text-transform: uppercase;
  color: $kea-white;
}
.nav-item-last {
  padding-right: 0.5em;
  font-size: 0.75em;
  text-transform: uppercase;
  color: $kea-white;
}

.nav-item :hover {
  color: $kea-red;
}

.nav-icon {
  padding-right: 5px;
  font-size: 2.3em;
  color: $kea-white;
}

.fill-space {
  flex: 1 1 auto;
}

#app-icon {
  font-size: 1.65em;
}


@media(min-width: 1000px) {
  .sidenav {
    display: none;
  }
}

