@import "../../styles.scss";

.button-container {
    display: flex;
    margin: 2% auto 0 auto;
    width: 50%;
    
}

#flex-spacer {
    flex: 1.5;
    order: 2;
}

#nav-button-create {
    flex: 1;
    order: 3;
}

#nav-button-retrieve {
    flex: 1;
    order: 1;
}
