/* You can add global styles to this file, and also import other style files */


$kea-red: #ff5338;
$kea-white: #ebebeb;
$kea-blue: #223147;
$kea-green: #1ab0a3;
$kea-font: 'Cousine', monospace;

html {
    box-sizing: border-box;
    letter-spacing: 1px;
}

html, body { height: 100%; }
body { margin: 0; font-family: $kea-font, "Helvetica Neue", sans-serif; }
